/* css simple selectors - html tags */
header {
  font-size: 2em;
  font-family: calibri;
  text-align: center;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  margin: -2% -4% 3% -4%;
  padding: 2% 0% 2% 0%;
}

footer {
  font-size: 1.5em;
  font-family: calibri;
  text-align: center;
  background-color: lightseagreen;
  color: white;
  margin: 4% -4% -2% -4%;
  padding: 2% 0% 2% 0%;
}

body {
  margin-left: 3%;
  margin-right: 3%;
  overflow-x: hidden; /* no horizontal scorll bar */
}

nav {
  margin-top: 2%;
}

label {
  display: inline-block; /* labels are displayed on the same line with input nodes */
}

img {
  max-width: 20%;
  max-height: 20%;
}

/* css attribute selector */
caption[name="tableCaption"] {
  background-color: gray;
  margin: 0% -1% 0% -1%;
  color: white;
}

/* css pseudo-class selector example - :hover */
img:hover {
  opacity: 0.5; /* when hovered, image will become 50% transparent */
}

/* css pseudo-element selector example - ::selection */
td::selection {
  background-color: yellowgreen;
}

/* css descendent selector */
ul li {
  border-bottom: 1px solid green;
  padding: 2%;
  margin-bottom: 1%;
  list-style-type: none; /* remove the dots from list items */
}

table thead tr {
  border-bottom: 1px solid black;
}

/* css class selector */
.custom_h2 {
  border-bottom: 1px solid gray;
  text-align: center;
}

.container {
  border: 0.15em solid lightseagreen;
  border-radius: 1%;
  font-family: calibri;
}

.container * {
  margin-left: 2%;
  margin-right: 2%;
}

/* css id selector */
#pizzaForm {
  font-weight: bold;
  margin-bottom: 2%;
}
